:root {
  background-color: #191919;
  height: 100%;
  padding: 15px;
}
#root {
  background-color: #191919;
  height: 100%;
}

body {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #191919;
}

.img-effect {
  transition: all 0.4s ease-out;
}

.img-effect:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.default-image {
  display: block;
  cursor: pointer;
}

.hover-image {
  display: none;
  cursor: pointer;
}

.image-container:hover .default-image {
  display: none !important;
  animation: plus 0.5s;
}

.image-container:hover .hover-image {
  display: block;
}

.hover-image:active {
  animation: plus 0.5s;
}

@keyframes plus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.container-overflow {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  max-height: 278px;
}

.hover-trash {
  display: none !important;
}

.container-hidden:hover .hover-trash {
  display: block !important;
}

.image-container:hover .hover-trash {
  display: none !important;
}

.transition-left {
  animation-name: transition-left;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes transition-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
